

/*

img {
	width: 40px;
	height: 40px;|
}

.nav {
	background-color: green;
	padding: 0px;
	margin: 0px;
	height: 70px;


}

.festa {
	margin: 0;
	font-size: 50px;
	text-align: center;
}

*/ 
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #fabfb7;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
   
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav .festa {
    font-size: 36px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.festa:hover {
	color: black;
}

.wpp_img {
	width: 60px;
	height: 60px;
	left: 0;
}

.ig_img {
	width: 40px;
	height: 40px;
	left: 0;
}



header button {
	background-color: grey;
}


/* Estilos para el formulario y contenido */
form {
    margin: 20px auto;
    max-width: 400px;
}

form ul {
    list-style: none;
    padding: 0;
}

form ul li {
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos para el footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

div img {
	width: 80px;
	height: 80px;
}

div img:hover {
	width: 200px;
	height: 200px;


}