
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfd96;
}

/* Estilos para el encabezado */
header {
    background-color: #fabfb7;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0.5px;
    display: block;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.lugar {
	position: absolute;
	left: 70%;
	top: 100px;
	color: black;
	font-size: 13px;
}

.lugar a {
	color: #00f5f5;
	
}

.lugar a:hover {
	transition: .5s;
	color: red;
}

.nos {
	position: absolute;
	right: 85%;
	top: 100px;
	color: black;
}

.nos a {
	color: #00f5f5;
	text-decoration: none;
}


/* FESTA TITULO */
nav .festa {
    font-size: 60px;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: white;
    font-family: 'Dancing Script', cursive;
}

															/*  */
nav .festa a{
    color: white;
    text-decoration: none;
}
/* HOVER TITULO FESTA */

nav .festa a:hover {
    color: black;
}
											/* INICIO FESTA2 */	
/* FESTA 2 */																					
nav .festa2 {
    font-size: 30px;
    margin: 5px;
    padding: 0;
    display: inline-block;
    color: white;
}
/* HOVER DE FESTA 2 */
.festa2:hover {
	color: black;
}

/* IMAGEN WPP REDES */
.wpp_img {
	width: 35px;
	height: 35px;
	left: 70px;
	top: 51px;
	
	position: absolute;
	
}
/* IMAGEN IG REDES */
.ig_img {
	width: 40px;
	height: 40px;
	left: 20px;
	top: 48px;
	position: absolute;
}

									/* FIN DEL NAV */

/* TITULO PIÑATAS */

div h3 {
	text-align: center;
	font-size: 27px;
	color: #ff8097;

}

div h2 {
	text-align: center;
	font-size: 20px;

}


/* Estilos para el formulario y contenido */
form {
    margin: 20px auto;
    max-width: 400px;
}

form ul {
    list-style: none;
    padding: 0;
}

form ul li {
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos para el footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

div img {
	width: 190px;
	height: 190px;
	margin: 7px;
	border: 1px solid black;
	box-shadow: 1px;
}

div img:hover {
	width: 220px;
	height: 220px;
	 

}